# IDEs and editors
.idea
*.iml
*.iws
.project
.classpath
*.launch
.settings
*.sublime-workspace
.vscode

# Dependency directories
node_modules
TODO.md
# TypeScript cache
*.tsbuildinfo
.husky
# Logs
logs
*.log
npm-debug.log*

# Packaged SuiteCloud projects
build

# misc
# misc
.sass-cache
.eslintcache
.eslintcache
# Optional npm cache directory
.npm

# System Files
.DS_Store
Thumbs.db

# Output of 'npm pack'
*.tgz

# Project config
project.json
